<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>carManager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginCheck</display-name>
    <servlet-name>loginCheck</servlet-name>
    <servlet-class>cn.lk.servlet.loginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginCheck</servlet-name>
    <url-pattern>/loginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>cn.lk.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>nonLogFilter</display-name>
    <filter-name>nonLogFilter</filter-name>
    <filter-class>cn.lk.filter.nonLogFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>nonLogFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>dealViolation</display-name>
    <servlet-name>dealViolation</servlet-name>
    <servlet-class>cn.lk.servlet.dealViolation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dealViolation</servlet-name>
    <url-pattern>/dealViolation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerCheck</display-name>
    <servlet-name>registerCheck</servlet-name>
    <servlet-class>cn.lk.servlet.registerCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerCheck</servlet-name>
    <url-pattern>/registerCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerAjax</display-name>
    <servlet-name>registerAjax</servlet-name>
    <servlet-class>cn.lk.servlet.registerAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerAjax</servlet-name>
    <url-pattern>/registerAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addViolation</display-name>
    <servlet-name>addViolation</servlet-name>
    <servlet-class>cn.lk.servlet.addViolation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addViolation</servlet-name>
    <url-pattern>/addViolation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delViolation</display-name>
    <servlet-name>delViolation</servlet-name>
    <servlet-class>cn.lk.servlet.delViolation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delViolation</servlet-name>
    <url-pattern>/delViolation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateViolation</display-name>
    <servlet-name>updateViolation</servlet-name>
    <servlet-class>cn.lk.servlet.updateViolation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateViolation</servlet-name>
    <url-pattern>/updateViolation</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>adminFilter</display-name>
    <filter-name>adminFilter</filter-name>
    <filter-class>cn.lk.filter.adminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>adminFilter</filter-name>
    <url-pattern>/carManager/Action/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Vio_ListServlet</display-name>
    <servlet-name>Vio_ListServlet</servlet-name>
    <servlet-class>cn.lk.servlet.Vio_ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vio_ListServlet</servlet-name>
    <url-pattern>/Vio_ListServlet</url-pattern>
  </servlet-mapping>
</web-app>