<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AddressBookWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.lk.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllContactServlet</display-name>
    <servlet-name>AllContactServlet</servlet-name>
    <servlet-class>cn.lk.servlet.AllContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllContactServlet</servlet-name>
    <url-pattern>/AllContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cn.lk.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SingleContactDetails</display-name>
    <servlet-name>SingleContactDetails</servlet-name>
    <servlet-class>cn.lk.servlet.SingleContactDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleContactDetails</servlet-name>
    <url-pattern>/SingleContactDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewContact</display-name>
    <servlet-name>AddNewContact</servlet-name>
    <servlet-class>cn.lk.servlet.AddNewContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewContact</servlet-name>
    <url-pattern>/AddNewContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOneContact</display-name>
    <servlet-name>DeleteOneContact</servlet-name>
    <servlet-class>cn.lk.servlet.DeleteOneContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOneContact</servlet-name>
    <url-pattern>/DeleteOneContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOneContact</display-name>
    <servlet-name>UpdateOneContact</servlet-name>
    <servlet-class>cn.lk.servlet.UpdateOneContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOneContact</servlet-name>
    <url-pattern>/UpdateOneContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FuzzyQuery</display-name>
    <servlet-name>FuzzyQuery</servlet-name>
    <servlet-class>cn.lk.servlet.FuzzyQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuzzyQuery</servlet-name>
    <url-pattern>/FuzzyQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddContactImage</display-name>
    <servlet-name>AddContactImage</servlet-name>
    <servlet-class>cn.lk.servlet.AddContactImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContactImage</servlet-name>
    <url-pattern>/AddContactImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AskContactImage</display-name>
    <servlet-name>AskContactImage</servlet-name>
    <servlet-class>cn.lk.servlet.AskContactImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AskContactImage</servlet-name>
    <url-pattern>/AskContactImage</url-pattern>
  </servlet-mapping>
</web-app>